body{
  padding: 0;
  margin: 0;
  background-color: white;

}
.fit{
  padding-left: 12%;
  padding-bottom: 5%;
  padding-right: 5%;
  background-color: white;
}

/*
.header{
  background-color: #fdc800;
  padding: 8%;

}
*/
#header{
	padding: 0;
	
}
h5{
	text-align: center;
	font-size: 1.2em;
}
.blue{
	background-color: #2196F3;
	padding: 1.3px;
	margin-top: 2%;
}
/*
.header h1{
  margin-left: 6%;
  font-weight:700;
  font-size:4.947916666666667vw;
   font-family:'Montserrat',sans-serif;
  color: white;
}
*/

label{
      
  color:#333333;
  font-weight: 600;
  font-family:'Montserrat',sans-serif;
}

.col-md-4{
  margin: 2%;
}
.col-md-2{
  margin: 2%;
  
}
.col-1{
  
  margin: 2%;
}
#post{
  margin-left: 5px;
}
#post1{
  margin-left: 6px;
  padding-top: 15%;
}
.btn {
  margin-left: 35%;
  margin-bottom: 5%;
  margin-top: 3%;
  padding-right: 50px;
  padding-left: 50px;
  font-family: 'Montserrat', sans-serif;
  
}




p{
  color: lightskyblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
  
}
.para{
  margin-left: 25px;
  color: #333333;
  
}
#para1{
  margin-bottom: 10px;
  margin-left: 17px;
}
#para2{
  margin-bottom: -2px;
  margin-top: 2px;
  color: #333333;
}
#para3{
  margin-bottom: 10px;
  margin-left: 3px;
}
.headings td{
  color: lightskyblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}
.custom-control{
  margin-top: 5px;
}
#experience{
  margin-left: 12vw;
}
.form1{
  margin-left: 25px;
}
#err_qualification{
		margin-left:70px;
	}
#mute{
	font-weight:100;
}

/* .form-group{
  margin-left: 8%;
} */
@media  (max-width:720px)
{
  #experience
  {
    margin-left:-7px;
  }
  .btn{
          margin-left:15%;
  }
	.para{
		margin-left: 8px;
	}
	#net{
		margin-left: -7px;
		margin-bottom: 15px;
	}
	#err_qualification{
		margin-left:0;
	}
	
}


/*
html {
  scroll-behavior: smooth;
}
*/
