body{
  padding: 0;
  margin: 0;
  background-color: black;

}
.fit{
  padding-left: 15%;
  padding-bottom: 5%;
  padding-right: 5%;
  background-color: white;
}

.header{
  background-color: lightskyblue;
  padding: 8%;

}
.header h1{
  margin-left: 9%;
  font-size:4.947916666666667vw;
  font-family: 'Montserrat', sans-serif;
}
.col-md-4{
  margin: 2%;
}
.col-md-2{
  margin: 2%;
  
}
.col-1{
  
  margin: 2%;
}
#post{
  margin-left: 5px;
}
#post1{
  margin-left: 6px;
  padding-top: 15%;
}
.btn {
  margin-left: 18%;
  margin-bottom: 5%;
  margin-top: 5%;

}
label{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: lightskyblue;
}



p{
  color: lightskyblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
  
}
.para{
  margin-left: 25px;
  
}
#para1{
  margin-bottom: -5px;
}
#para2{
  margin-bottom: -2 px;
  margin-top: 2px;
}
.headings td{
  color: lightskyblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}
.custom-control{
  margin-top: 5px;
}